.hero {
  padding: 5.8rem 2.4rem 0 2.4rem;
  position: relative;
  overflow: hidden;
  min-height: 837px;

}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2rem;
  bottom: 0;
  left: 0;
  background: url("../../assets/images/bg-tablet-pattern.svg") no-repeat;
  background-position-x: -125px;
  background-position-y: 175px;
  transform: rotate(180deg);
  z-index: 1;
}
.hero-inner {
  flex-direction: row-reverse;
  z-index: 2;
  margin-top: 11rem;
}
.hero-img {
  margin-right: -2rem;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  max-width: 455px;
  margin-top: -1.8rem;
}
.hero-title {
  font-size: 5.2rem;
  font-weight: 600;
  letter-spacing: 0.02rem;
  line-height: 1.26;
}
.hero-parag {
  max-width: 342px;
  margin-top: 2.5rem;
  line-height: 1.65;
}
.link.hero-cta {
  margin-top: 3.8rem;
}
.bg-pattern{
  display: none;
}

@media (width <= 1200px) {
  /* ----------HERO ---------- */
 .hero::after{
  display: none;
} 
.bg-pattern{
  display: block;
  z-index: -1;
  position: absolute;
  top: -25%;
  right: -15vw;
  transform: rotate(180deg);
}

}